/* Layout.css */

.layout-container {
    background-color: #e5e7eb; 
  }
  
  .content {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    transition: transform 0.5s ease;
  }
  
  .content.translate-x-56 {
    transform: translateX(-14rem); 
  }
  