/* Success.css */
.success-container {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.success-container h1 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

.success-container p {
    font-size: 1.1rem;
    color: #333;
    margin: 10px 0;
}

.success-container strong {
    font-weight: bold;
    color: #555;
}

.success-container .email {
    font-size: 1.2rem;
    color: #1E88E5;
    word-wrap: break-word;
    margin-top: 15px;
}

.success-container .purchase-date {
    font-size: 1.2rem;
    color: #FF7043;
    margin-top: 15px;
}

/* Optional: Add some styling for the button, if you have one */
.success-container .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 30px;
}

.success-container .button:hover {
    background-color: #45a049;
}

/* 戻るボタンのスタイル */
.success-container .back-button {
    padding: 10px 20px;
    background-color: #FF7043;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 30px;
    text-align: center;
}

.success-container .back-button:hover {
    background-color: #e64a19;
}

.caution {
    color: red;
    width: auto;
    font-size: 1rem;
}
